<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Leave Request</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<h1>New Leave Request</h1>
<form th:action="@{/user/new-leave-request}" method="post">
    <div>
        <label>Start Date</label>
        <input type="date" name="startDate" />
    </div>
    <div>
        <label>End Date</label>
        <input type="date" name="endDate" />
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
</form>
</body>
</html>