body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

h1 {
    background-color: #007bff;
    color: white;
    padding: 1rem;
    margin: 0;
}

form {
    padding: 1rem;
    margin: 1rem;
}

form div {
    margin-bottom: 0.5rem;
}

form label {
    display: block;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 1rem;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 0.5rem;
    text-align: left;
}

a {
    margin: 1rem;
    padding: 0.5rem;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

a:hover {
    background-color: #0056b3;
}

/* Form styles */
form.button{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px 0;
}

/* Button styles */
button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}